@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.promo {
  min-height: 800px;
  height: 100%;
  background: url("../img/bg_promo.jpg") center center / cover no-repeat;
  padding: 39px 0 62px 0px;
}

.logo_img {
  display: block;
  margin: 0 auto;
}

.logo_text {
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 14px;
}

.info_promo {
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-top: 53px;
}

.title {
  font-size: 41px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f9bf3b;
}

h2.title {
  margin-top: 30px;
}

.simple {
  display: flex;
  align-items: center;
}

.title_big {
  display: inline;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 21px;
  padding: 0 21px 0 21px;
}

.line {
  display: inline-block;
  width: 292px;
}

.promo_text {
  font-size: 21px;
  font-weight: 300;
  color: #ffffff;
  line-height: 28px;
  margin-top: 26px;
}

.promo_text span {
  font-weight: 700;
  color: #f9bf3b;
}

.promo_btn {
  font-size: 21px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.21);
  color: #ffffff;
  width: 321px;
  height: 80px;
  background-image: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  border: 4px solid rgba(0, 0, 0, 0.22);
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.17);
  margin-top: 73px;
  cursor: pointer;
  outline: none;
}

.more {
  margin: 0 auto;
  margin-top: 73px;
}

.more_img {
  margin-top: 13px;
  display: inline-block;
  width: 30px;
  height: 19px;
}

.more_text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
}

/**** waiting ****/

.waiting {
  background-color: #efefef;
  padding: 85px 0 75px 0;
  text-align: center;
}

.wait_header {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #252525;
  position: relative;
  padding-bottom: 18px;
}

.wait_header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 109px);
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
}

.waiting_divider {
  margin-top: 17px;
}

.waiting_subheader {
  font-size: 23px;
  font-weight: 400;
  color: #4a4a4a;
}

.waiting_box {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}

.waiting_items {
  width: 340px;
}

.waiting_img {
  display: block;
  width: 342px;
  height: 201px;
  margin: 0 auto;
}

.wait_items_text {
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: #4a4a4a;
  margin-top: 33px;
}
